/* google fonts Azeret Mono*/

@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Azeret Mono", monospace;
    text-decoration: none;
}

/* shared styles */
.max-width{
    max-width: 1300px;
    padding: 35px 90px 20px 90px;
    margin: auto;
}
.section-title {
    text-align: center;
    font-size: 24px;
    font-weight: 800;
}
.section-description {
    text-align: center;
    font-size: 16px;
    color: #0D1321;
    font-weight: 300;
    padding: 15px 0;    
    line-height: 24px;
}

/* navbar style */

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a {
    font-size: 28px;
    font-weight: 800;
    color: #111;
}
.navbar .menu button{
    color: rgb(13, 19, 33);
    font-size: 19px;
    font-weight: 600;
    padding: 17px 24px 17px 24px;
}
.navbar .menu button {
    color: rgb(13, 19, 33);
    font-size: 17px;
    font-weight: 600;
    padding: 15px 20px;
    border: 2px solid rgb(13, 19, 33);
    background: #fff;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.navbar .menu button:hover{
    background-color: rgb(51, 51, 51);
    color: #fff;
    border: 2px solid rgb(51, 51, 51);

}

/* banner styles */

.banner{
    width: 100%;
    height: 100vh;
    background: url('../assets/hero-bg.png'), no-repeat center center;
    background-size: cover;
    object-fit: cover;
}
.banner-container{
    width: 800px;
    margin: auto;
    text-align: center;
}
.banner-title h2 {
    margin-top: 30px;
    font-size: 30px;
}
.banner-title p{
    padding: 25px 0;
}
.banner-title button{
    color: rgb(13, 19, 33);
    font-size: 17px;
    font-weight: 600;
    padding: 15px 20px;
    border: 2px solid rgb(13, 19, 33);
    color: #fff;
    background: rgb(13, 19, 33);
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.banner-title button:hover{
    background-color: #fff;
    color: #111;
    border: 2px solid rgb(51, 51, 51);

}

/* testimonial style */

.testimonial{
    padding: 100px 0;
}
.testimonial-field{
    background: #0D132105;
    padding: 50px 70px;
    border-radius: 16px;
}
.testmonial-card{
    padding: 30px 50px;
    margin: 20px 0;
    background-image: linear-gradient(to right, #ffffff, #f3f3f3, #FAFAFB);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.testmonial-card-m{
    padding: 30px 50px;
    margin: 20px 0;
    background-image: linear-gradient(to right, #FAFAFB , #f3f3f3, #ffffff);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.t-left{
    width: 50%;
}
.t-left h4 {
    font-size: 24px;
    font-weight: 500;
    color: #0D1321B3;
    line-height: 35px;
}
.t-left p{
    font-size: 16px;
    color: #0D1321B3;
    font-weight: 300;
    padding: 10px 0;
    line-height: 28px;
}
.t-left button {
    background: #fff;
    border: 2px solid #0D1321;
    padding: 10px 20px;
    font-size: 16px;
    color: #0D1321;
    display: block;
    font-weight: 600;
    margin-top: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.t-left button:hover{
    background-color: #0D1321;
    color: #fff;
}   