/* google fonts Azeret Mono*/

@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Azeret Mono", monospace;
    text-decoration: none;
}

/* shared styles */
.max-width{
    max-width: 1300px;
    padding: 35px 90px 20px 90px;
    margin: auto;
}
.section-title {
    text-align: center;
    font-size: 24px;
    font-weight: 800;
}
.section-description {
    text-align: center;
    font-size: 16px;
    color: #0D1321;
    font-weight: 300;
    padding: 15px 0;    
    line-height: 24px;
}
.html{
    background: rgba(255, 76, 30, 0.05);
}
.css{
    background: rgba(0, 76, 232, 0.05);
}
.js{
    background: rgba(255, 223, 0, 0.05);
}

/* navbar style */

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a {
    font-size: 28px;
    font-weight: 800;
    color: #111;
}
.navbar .menu button{
    color: rgb(13, 19, 33);
    font-size: 19px;
    font-weight: 600;
    padding: 17px 24px 17px 24px;
}
.navbar .menu button {
    color: rgb(13, 19, 33);
    font-size: 17px;
    font-weight: 600;
    padding: 15px 20px;
    border: 2px solid rgb(13, 19, 33);
    background: #fff;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.navbar .menu button:hover{
    background-color: rgb(51, 51, 51);
    color: #fff;
    border: 2px solid rgb(51, 51, 51);

}

/* banner styles */

.banner{
    width: 100%;
    height: 100vh;
    background: url('../assets/hero-bg.png'), no-repeat center center;
    background-size: cover;
    object-fit: cover;
}
.banner-container{
    width: 800px;
    margin: auto;
    text-align: center;
}
.banner-title h2 {
    margin-top: 30px;
    font-size: 30px;
}
.banner-title p{
    padding: 25px 0;
}
.banner-title a{
    color: rgb(13, 19, 33);
    font-size: 17px;
    font-weight: 600;
    padding: 15px 20px;
    border: 2px solid rgb(13, 19, 33);
    color: #fff;
    background: rgb(13, 19, 33);
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    transition: all 0.3s ease;
}
.banner-title a:hover{
    background-color: #fff;
    color: #111;
    border: 2px solid rgb(51, 51, 51);

}

/* testimonial style */

.testimonial{
    padding: 100px 0;
}
.testimonial-field{
    background: #0D132105;
    padding: 50px 70px;
    border-radius: 16px;
}
.testmonial-card{
    padding: 30px 50px;
    margin: 20px 0;
    background-image: linear-gradient(to right, #ffffff, #f3f3f3, #FAFAFB);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.testmonial-card-m{
    padding: 30px 50px;
    margin: 20px 0;
    background-image: linear-gradient(to right, #FAFAFB , #f3f3f3, #ffffff);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.t-left{
    width: 50%;
}
.t-left h4 {
    font-size: 24px;
    font-weight: 500;
    color: #0D1321B3;
    line-height: 35px;
}
.t-left p{
    font-size: 16px;
    color: #0D1321B3;
    font-weight: 300;
    padding: 10px 0;
    line-height: 28px;
}
.t-left button {
    background: #fff;
    border: 2px solid #0D1321;
    padding: 10px 20px;
    font-size: 16px;
    color: #0D1321;
    display: block;
    font-weight: 600;
    margin-top: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.t-left button:hover{
    background-color: #0D1321;
    color: #fff;
}

/* inspiration style */
.inspiration-box{
    width: 97%;
    border: 2px solid #d4d4d4;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin: 30px auto;
}
.inspiration-box iframe{
    width: 100%;
    height: 500px;
    border-radius: 10px;
}

/* current target style */
.target{
    padding: 50px 0;
}
.target-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    gap: 20px;
}
.target-box{
    width: 33.3%;
    padding: 30px;
    border-radius: 10px;
}
.target-box h2 {
    font-size: 21px;
    font-weight: 600;
    line-height: 45px;
}
.target-box p {
    font-size: 14px;
    font-weight: 300;
    line-height: 23px;
    margin-bottom: 10px;
}
.target-box a{
    color: rgb(13, 19, 33);
    text-decoration: underline;
}

/* support style */
.support{
    padding-bottom: 50px;
}
.support-container{
    background: url('../assets/handshake.jpg') no-repeat center center;
    background-size: cover;
    height: 350px;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}
.text-white{
    color: #fff;
}
.support-content{
    margin-top: 80px;
}
.support-content input[type="text"]{
    width: 400px;
    height: 47px;
    padding-left: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
}
.support-content input[type="submit"] {
    font-size: 17px;
    font-weight: 600;
    padding: 12px 29px;
    border: none;
    color: #111;
    background: #fff;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
}


/* footer style */
.footer .max-width{
    padding: 20px 90px;
}
.footer{
    border-radius: 10px;
    background: rgba(13, 19, 33, 0.03);
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.f-right img{
    margin-left: 15px;
}